:root {
    --header-background: #EDEFF2;
    --header-text-color: #4A586E;
    --header-arrow-background: #FFFFFF;
    --footer-text-color: #4A586E;
    --footer-anchor-color: #4A586E;
    --anchor-color: #4A586E;
    --text-color: #4A586E;
    --add-resume-text-color: #4A586E;
    --body-background: #FFFFFF;
    --table-header-text-color: #4A586E;
    --table-header-background: #E0E4EA;
    --table-text-color: #F8F9FA;
    --table-odd-row-background: #ECEEF2;
    --table-even-row-background: #F8F9FA;
    --table-shadow-color: none;
    --input-field-background: #F8F9FA;
    --input-field-shadow: #E0E4EA;
    --spacer-background: #E0E4EA;
    --submit-button-color: #319848;
    --submit-button-background: #FFFFFF;
    --save-button-background: #319848;
    --cancel-button-color: #B7616A;
    --button-text-color: #F8F9FA;
    --theme-text-color: #4A586E;
    --contact-link-color: #169FE1;
}