input, textarea {
    height: 60px;
    width: 100%;

    background: var(--input-field-background);
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 var(--input-field-shadow) inset;
    padding: 0 25px 0 25px;
    margin: 20px 0 0 0;
}

input:focus, input:focus-visible,
textarea:focus, textarea:focus-visible {
    outline: none !important;
    border-color: var(--input-field-background);
    box-shadow: 0 0 10px var(--input-field-shadow);
}

input::placeholder, textarea::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: var(--text-color);
    opacity: 0.5;
}

textarea {
    height: 40px;
    padding-top: 20px;
}

button {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    align-items: center;

    height: 60px;
    margin: 20px 0 10px 0;

    box-sizing: border-box;
    border-radius: 10px;
}

.form-wrapper {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    color: var(--text-color);

    height: 100%;
    min-width: 610px;
    width: 50%;
    margin: 0 0 0 25%;
    display: block;
}

.section {
    font-size: 32px;
    line-height: 44px;

    margin: 50px 0 0 0;
}

.field {
    min-height: 60px;
    color: var(--text-color);
}

.field-label {
    font-size: 24px;
    line-height: 33px;

    margin: 40px 0 0 0;
}

.spacer {
    width: 100%;
    min-width: 100%;
    height: 2px;
    margin: 40px 0 10px 0;

    background: var(--spacer-background);
    border-radius: 10px;
}

.date-section {
    display: block;
}

.date {
    width: 250px;
}

.date-margin {
    margin-left: 10px;
}

.green-button {
    width: 295px;
    margin: 20px 0 10px 0;

    color: var(--submit-button-color);

    border: 2px solid var(--submit-button-color);
    background: var(--submit-button-background);
}

.green-button:hover {
    opacity: 0.8;
    box-shadow: 0 0 10px var(--submit-button-color);
}

.small-green-button {
    height: 50px;
    width: 200px;
    margin: 20px 0 0 0;

    color: var(--submit-button-color);

    border: 2px solid var(--submit-button-color);
    background: var(--submit-button-background);
}

.green-button:hover, .small-green-button:hover {
    opacity: 0.8;
    box-shadow: 0 0 10px var(--submit-button-color);
}

.button-section {
    width: 100%;
    margin: 40px 0 90px 0;
    display: inline-flex;
}

.red-cancel-button {
    width: 100%;
    margin-right: 10px;

    color: var(--button-text-color);

    border: 2px solid var(--cancel-button-color);
    background: var(--cancel-button-color);
}

.red-cancel-button:hover {
    color: var(--cancel-button-color);
    opacity: 0.8;
    box-shadow: 0 0 10px var(--cancel-button-color);
    background: var(--button-text-color);
}

.green-submit-button {
    width: 100%;
    margin-left: 10px;

    color: var(--button-text-color);

    border: 2px solid var(--save-button-background);
    background: var(--save-button-background);
}

.green-submit-button:hover {
    color: var(--save-button-background);
    opacity: 0.8;
    box-shadow: 0 0 10px var(--save-button-background);
    background: var(--button-text-color);
}